.git
CelebAMask-HQ/
image_segmentation/__pycache__
__pycache__*
report_images/
exp/
hair-style-env/
**__pycache__

image_landmark_transform/test.py

checkpoints/
image_segmentation/saved_images/*
image_segmentation/saved_images_50epoch
*.tar

image_artifact_fill/test.py
image_artifact_fill/images/*
testfn.py