CelebAMask-HQ/
image_segmentation/__pycache__
__pycache__*

checkpoints/
image_segmentation/saved_images/*
!image_segmentation/saved_images/.gitkeep

image_segmentation/inference_images/*
!image_segmentation/inference_images/.gitkeep
image_segmentation/saved_images_50epoch

*.tar